workflows/WF-03_Cadastro_Vaga.json
{
  "name": "WF-03: Cadastro de Vaga",
  "nodes": [
    {
      "id": "node-wf03-01",
      "name": "Webhook Cadastro Vaga",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastrar-vaga",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-wf03-02",
      "name": "Processar e Salvar Vaga",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst SUPABASE_URL = $vars.SUPABASE_URL;\nconst SUPABASE_KEY = $vars.SUPABASE_KEY;\nconst GOOGLE_KEY = $vars.GOOGLE_MAPS_API_KEY;\nconst ANTHROPIC_KEY = $vars.ANTHROPIC_API_KEY;\n\n// Determinar fonte dos dados\nlet vagaData = {};\n\nif (body.titulo || body.cargo) {\n  // Dados já estruturados (via webhook/API)\n  vagaData = {\n    titulo: body.titulo || body.cargo,\n    empresa: body.empresa || $vars.EMPRESA_NOME,\n    endereco_sede: body.endereco_sede || body.local_trabalho || '',\n    raio_maximo_km: parseInt(body.raio_maximo_km || 15),\n    requisitos_obrigatorios: Array.isArray(body.requisitos_obrigatorios) ? body.requisitos_obrigatorios : (body.requisitos_obrigatorios || '').split('|').map(r => r.trim()).filter(Boolean),\n    requisitos_desejados: Array.isArray(body.requisitos_desejados) ? body.requisitos_desejados : (body.requisitos_desejados || '').split('|').map(r => r.trim()).filter(Boolean),\n    salario_min: parseFloat(body.salario_min || 0),\n    salario_max: parseFloat(body.salario_max || 0),\n    regime: body.regime || 'CLT',\n    responsavel_email: body.responsavel_email || body.email_responsavel || $vars.EMAIL_RH,\n    responsavel_whatsapp: body.responsavel_whatsapp || '',\n    descricao: body.descricao || '',\n    prazo_candidatura: body.prazo_candidatura || null\n  };\n} else if (body.texto_vaga || body.subject) {\n  // Via e-mail — usar Claude para extrair\n  const texto = body.texto_vaga || body.text || body.body || '';\n  try {\n    const claudeBody = {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 1024,\n      system: 'Extraia dados da vaga e retorne SOMENTE JSON válido.',\n      messages: [{ role: 'user', content: `Extraia em JSON: {titulo, empresa, endereco_sede, raio_maximo_km, requisitos_obrigatorios:[], requisitos_desejados:[], salario_min, salario_max, regime, descricao, prazo_candidatura}\\n\\n${texto}` }]\n    };\n    const resp = await fetch('https://api.anthropic.com/v1/messages', {\n      method: 'POST',\n      headers: { 'x-api-key': ANTHROPIC_KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n      body: JSON.stringify(claudeBody)\n    });\n    const data = await resp.json();\n    const text = data.content?.[0]?.text || '{}';\n    vagaData = JSON.parse(text.replace(/```json\\n?|```/g, '').trim());\n    vagaData.responsavel_email = body.from_email || $vars.EMAIL_RH;\n    vagaData.empresa = vagaData.empresa || $vars.EMPRESA_NOME;\n  } catch(e) {\n    vagaData = { titulo: body.subject || 'Vaga sem título', empresa: $vars.EMPRESA_NOME, responsavel_email: $vars.EMAIL_RH };\n  }\n} else {\n  return [{ json: { error: 'Dados da vaga não reconhecidos', body } }];\n}\n\n// Geocodificar endereço da sede\nlet lat = 0, lng = 0, enderecoFormatado = vagaData.endereco_sede || '';\nif (vagaData.endereco_sede && GOOGLE_KEY) {\n  try {\n    const geoResp = await fetch(`https://maps.googleapis.com/maps/api/geocode/json?address=${encodeURIComponent(vagaData.endereco_sede)}&key=${GOOGLE_KEY}&language=pt-BR&region=br`);\n    const geoData = await geoResp.json();\n    const geocode = geoData.results?.[0];\n    lat = geocode?.geometry?.location?.lat || 0;\n    lng = geocode?.geometry?.location?.lng || 0;\n    enderecoFormatado = geocode?.formatted_address || vagaData.endereco_sede;\n  } catch(e) {}\n}\n\n// Inserir vaga no Supabase\nconst vagaParaSalvar = {\n  titulo: vagaData.titulo || 'Vaga sem título',\n  descricao: vagaData.descricao || '',\n  empresa: vagaData.empresa || $vars.EMPRESA_NOME,\n  responsavel_email: vagaData.responsavel_email || $vars.EMAIL_RH,\n  responsavel_whatsapp: vagaData.responsavel_whatsapp || '',\n  endereco_sede: enderecoFormatado,\n  latitude_sede: lat,\n  longitude_sede: lng,\n  raio_maximo_km: parseInt(vagaData.raio_maximo_km || 15),\n  requisitos_obrigatorios: vagaData.requisitos_obrigatorios || [],\n  requisitos_desejados: vagaData.requisitos_desejados || [],\n  salario_min: parseFloat(vagaData.salario_min || 0),\n  salario_max: parseFloat(vagaData.salario_max || 0),\n  regime: vagaData.regime || 'CLT',\n  status: 'aberta',\n  data_abertura: new Date().toISOString(),\n  prazo_candidatura: vagaData.prazo_candidatura || null\n};\n\nlet vagaId = null;\ntry {\n  const resp = await fetch(`${SUPABASE_URL}/rest/v1/vagas`, {\n    method: 'POST',\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n    body: JSON.stringify(vagaParaSalvar)\n  });\n  const savedVaga = await resp.json();\n  vagaId = Array.isArray(savedVaga) ? savedVaga[0]?.id : savedVaga?.id;\n} catch(e) {}\n\nreturn [{ json: { vaga_id: vagaId, vaga: vagaParaSalvar, success: !!vagaId } }];"
      }
    },
    {
      "id": "node-wf03-03",
      "name": "Disparar Matching WF-04",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.N8N_BASE_URL }}/webhook/matching-engine",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vaga_id: $json.vaga_id, titulo: $json.vaga.titulo, responsavel_email: $json.vaga.responsavel_email, responsavel_whatsapp: $json.vaga.responsavel_whatsapp, raio_maximo_km: $json.vaga.raio_maximo_km, latitude_sede: $json.vaga.latitude_sede, longitude_sede: $json.vaga.longitude_sede, requisitos_obrigatorios: $json.vaga.requisitos_obrigatorios, requisitos_desejados: $json.vaga.requisitos_desejados, salario_min: $json.vaga.salario_min, salario_max: $json.vaga.salario_max, regime: $json.vaga.regime }) }}",
        "options": {}
      }
    },
    {
      "id": "node-wf03-04",
      "name": "Resposta Vaga Cadastrada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', vaga_id: $('Processar e Salvar Vaga').first().json.vaga_id, message: 'Vaga cadastrada. Matching em andamento.' }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Cadastro Vaga": {
      "main": [[{ "node": "Processar e Salvar Vaga", "type": "main", "index": 0 }]]
    },
    "Processar e Salvar Vaga": {
      "main": [[{ "node": "Disparar Matching WF-04", "type": "main", "index": 0 }]]
    },
    "Disparar Matching WF-04": {
      "main": [[{ "node": "Resposta Vaga Cadastrada", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "RH" }, { "name": "Vagas" }],
  "pinData": {}
}
